source/_posts/Algorithm/1.leetcode/java_demo/src/test/resources/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id"/>
                <xs:element name="role"/>
                <xs:element name="description"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>